.pasos {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.paso {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #ccc;
  padding: 8px;
}

.paso.activo {
  color: #007bff;
 
}
.paso.activo br {
    margin-top: 25px;
}
.reserva-container {
  margin: 60px;
}
