/* 
  .container-infoturistica {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #f4f4f4;
  }
   */
 
  /* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
   */
  .container-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .steps-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  @media (max-width: 1024px) { 
    .steps-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
    /* .steps-grid .siderbar {
      width: 425px;
    }	 */
  }
  
  @media (max-width: 600px) { 
    .steps-grid {
      grid-template-columns: repeat(1, 1fr); 
    }
    .step-card {
      width: 260px;
    }
  }
  