/* .sidebar {
  width: 250px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar h2,
.sidebar h3 {
  color: #0b5394;
  font-size: 16px;
  text-align: center;
}

.sidebar-logo img {
  width: 32%;
  display: block;
  margin: 10px 0;
} */

.sidebar {
  width: 250px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el contenido */
}

.sidebar h2,
.sidebar h3 {
  color: #0b5394;
  font-size: 16px;
  text-align: center;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  margin: 10px 0;
}

.sidebar-logo img {
  max-width: 80%;
  height: auto;
}

.sidebar p {
  font-size: 14px;
  color: #555;
  text-align: justify;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.sidebar ul li a {
  color: #0b5394;
  text-decoration: none;
  font-weight: bold;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li span {
  display: block;
  font-size: 12px;
  color: gray;
}
