.review-container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .review-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .review-table th, .review-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .review-table th {
    background-color: #f4f4f4;
  }

  
  .review-table tr:nth-child(even) {
<<<<<<< HEAD
    background-color: #d9e4ff;
  }
  
  .review-table tr:hover {
    background-color: #e6eff8;
  }
  

  .btn-calificar {
    background-color: #4870f4;
=======
    background-color: #f2f2f2;
  }
  
  .review-table tr:hover {
    background-color: #ddd;
  }
  
  /* 🔵 Estilos para el botón "Calificar" */
  .btn-calificar {
    background-color: #2759ff;
>>>>>>> origin/main
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
<<<<<<< HEAD
  .btn-calificar.disabled, .btn-calificar.disabled:hover {
    background: gray;
    cursor: not-allowed;
  }
  

  .btn-cancelar {
    background-color: #e70000;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

   .btn-cancelar:hover {
    background-color: #6b0000;
  }
=======
>>>>>>> origin/main
  
  .btn-calificar:hover {
    background-color: #07006b;
  }
  
  .btn-calificar:active {
    transform: scale(0.95);
  }