
.about-content {
  align-items: center;
}

.about-image {
  flex: 2;
  /* height: 250px;
  display: flex; */

}

.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}




.about-description h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #144a8d;

 
}

.about-description p {
  
  margin-top: 15px;
}
