.contact-container {
    min-width: 250px;
  }
  
  .contact-title {
    font-size: 18px;
    font-weight: bold;
    color: #1e3a56;
    border-bottom: 2px solid #1e3a56;
    display: inline-block;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1e3a56;
    margin: 5px 0;
  }
  
  .contact-item svg {
    margin-right: 10px;
    color: #1e3a56;
  }