.banner-about {
    background-color: #2387b1 !important;
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    position: relative;
   
  }
  
  .banner-about h1 {
    font-size: clamp(20px, 5vw, 60px); ;
    color: #e6eff8 !important;
    text-transform: uppercase;
    font-weight: bold;
  }
  